<%= bootstrap_form_with(model: [:manage, template], local: true) do |form| %>
  <%= form.alert_message "Please fix the errors below." %>

  <%= form.text_field :name %>

  <div data-foo="bar" class="form-group has-warning">
    <label for="document_render_template_id">Schema:</label>
    <code-editor text-field-name="render_template[schema]" value="<%= form.object.schema_json %>"></code-editor>
  </div>

  <%= form.select :parent_id, RenderTemplate.select_options, { label: "Choose Parent (leave blank for root):", 
    wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, 
    { class: "selectpicker" } %>

  <%= form.text_field :version %>

  <%= form.collection_radio_buttons :kind, RenderTemplate.kinds, :first, :first, inline: true %>


  <%= form.submit %>
<% end %>

<%= template.kind %>