<% render_template.walk_branch do |template, level| %>
  <%= raw "<span class='pl-3'></span>"*level %>
  <% if template.parent.nil? %>
    <i class="fas fa-home"></i>
  <% else %>
    <i class="fas fa-minus"></i>
  <% end %>
  <%= link_to_if (template != @render_template), template, [:editor, :manage, template] %>
  <span class="badge badge-secondary ml-1"><%= template.fragments.count %></span>
  <% if template == render_template %>
    <i class="fas fa-edit ml-2"></i>
  <% end %>
  <br />
<% end %>


<%= link_to new_manage_render_template_path(parent_id: render_template.id) do %>
  <i class="fas fa-plus-square mt-2"></i> Add subtemplate
<% end %>