<div class="flex_container">
  <div class="flex_item_left preview">

    <div class="preview_html">
      <%= raw @render_template.render(@preview_data, edit: true) %>
    </div>

  </div>

  <div class="flex_item_right details"  data-behavior="vue">
    <div class="base-editor">
      <h1 class="h5">Editing
        <%= render 'manage/render_templates/kind_icons', kind: @render_template.kind %>
        <%= @render_template %>

        <small>
          <%= link_to [:manage, @render_template] do %>
            <i class="fas fa-window-close"></i>
          <% end %>
        </small>
      </h1> 
    </div><!-- /base-editor -->

    <hr />

    <div id="multi-editor" class="multi-editor">

      <% if @edit_fragment %>
        Editing Fragment <b><%= @edit_fragment&.identifier %></b>
        <% inherited = @edit_fragment && !@render_template.fragments.include?(@edit_fragment) %>

        <a href='#' class='action' data-reflex='click->editor#focus_preview'>Preview</a>
        <%= render 'manage/render_templates/editor/fragment', fragment: @edit_fragment, edit_template: @render_template %> 
      <% else %>
        Editing Preview
        <%= render 'manage/render_templates/editor/preview_data', render_template: @render_template %>
      <% end %>

    </div><!-- /multi-editor -->



    <div class="inheritance-navigator">

      <h2 class="h5">Template Inheritance</h2>
      <%= render 'inheritance', render_template: @render_template %>

    </div><!-- /inheritance-navigator -->




  </div>

</div>