<p id="notice"><%= notice %></p>

<h1>Templates</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Editor</th>
      <th></th>
      <th>Name</th>
      <th>Version</th>
      <th>Schema</th>
      <th><i class="fas fa-project-diagram"></i></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @render_templates.walk_tree do |template, level| %>
      <tr>
        <td>
          <%= link_to editor_manage_render_template_path(template) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td><%= render 'kind_icons', kind: template.kind if level == 0 %></td>
        <td>
          <% if level > 0 %>
            <%= raw "<span class='pl-4  '></span>"*(level-1) %>
            <i class="fas fa-minus"></i>
          <% end %>
          <%= template.name %>

        </td>
        <td><%= template.version %></td>
        <td><small><%= template.schema.to_s.truncate(50) %></small></td>
        <td><%= template.fragments.count %></td>
        <td><%= link_to 'Edit', [:edit, :manage, template] %></td>
        <td><%= link_to 'Fragments', [:manage, template] %></td>
        <td>
          <%= link_to [:manage, template], method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end if template.children.count.zero? %>
        </td>
        <td>
          <%= link_to new_manage_render_template_path(parent_id: template.id) do %>
            <i class="fas fa-plus-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_manage_render_template_path, class: 'btn btn-primary' do %>
  <i class="fas fa-clone"></i> New Template
<% end %>

