<p id="notice"><%= notice %></p>

<h1>
  <%= link_to editor_manage_render_template_path(@render_template) do %>
    <i class="fas fa-edit"></i>
  <% end %>
  Template "<%= @render_template.name %>" <i><%= @render_template.version %></i>
  <%= render 'kind_icons', kind: @render_template.kind %>
</h1>

<p>
  <strong>Schema:</strong>
  <%= @render_template.schema.to_json %>
</p>

<% if @render_template.layout_fragment.nil? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>
     <i class="fas fa-exclamation-triangle"></i>
     Layout missing:</strong> 
     Please define at least one fragment with identifier 'layout'
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
<% end %>



<h2>Fragments</h2>
<%= render 'manage/fragments/list', fragments: @render_template.inherited_fragments, render_template: @render_template %>

<br />

<%= link_to 'Edit', edit_manage_render_template_path(@render_template) %> |
<%= link_to 'Back', manage_render_templates_path %>


<h2 class="mt-4">Template Inheritance</h2>

<%= render 'inheritance', render_template: @render_template %>