<template>

  <div class='code-editor'>

    <input type="hidden" :class="inputClass" :name="textFieldName" :value="editorValueString" />
    
    <textarea id="codemirror1" v-model="value">
    </textarea>

  </div>

</template>


<script>
// import CodeMirror from 'codemirror';
import CodeMirror from 'codemirror/lib/codemirror.js';
import 'codemirror/mode/javascript/javascript'
import 'codemirror/mode/handlebars/handlebars'
import 'codemirror/mode/htmlmixed/htmlmixed'
import 'codemirror/mode/css/css'

export default {
  props: {
    textFieldName: {
      type: String,
      default: 'check_this_please'
    },
    inputClass: {
      type: String,
      default: ''
    },
    editable: {
      type: Boolean,
      default: true
    },
    mode: {
      type: String,
      default: 'htmlmixed'
    },
    value: {
      type: String
    },
  },
  data() {
    return {
      editor: null,
      editorValue: this.value
    };
  },
  computed: {
    editorValueString() {
      // return("this.editor.value")
      return(this.editorValue)
    }
  },
  watch: {
		value: function(newValue) {
      this.editor.setValue(newValue);
    },
  },
  methods: {
    selectAll: function() {
      CodeMirror.commands["selectAll"](this.editor);
    },
    autoFormat: function() {
      this.editor.setCursor(0, 0);
      this.selectAll();
      // this.editor.autoFormatRange(this.editor.getCursor(true), this.editor.getCursor(false));
      this.editor.setCursor(0, 0);
    }
  },
  mounted() {
    console.log( CodeMirror.modes )
    console.log( CodeMirror.mimeModes  )
    this.editor = CodeMirror.fromTextArea(document.getElementById("codemirror1"), {
      mode: this.mode,
      extraKeys: { "Ctrl-Space": "autocomplete" },
      lineNumbers: true,
      readOnly: !this.editable,
      autoCloseTags: true,
      // theme: "monokai"
    });

    this.editor.on('change',() => {
      this.editorValue = this.editor.getValue();
      this.$emit('change', this.editorValue)
    });

    // On Load Auto Format HTML
    this.autoFormat();
  },
};
</script>

<style lang='scss' scoped>
  .code-editor {
    border: 1px solid #ccc;
  }
</style>

