<template>

  <span class='download-button'>

    <button v-if="state == 'created'"
      @click="render"
      class='btn btn-sm btn-primary'>Render</button>
    
    
    <span v-if="state == 'running'">
      <button
        class='btn btn-sm btn-primary disabled'>Waiting{{dots}}</button>
      <button
        @click="render"
        class='btn btn-sm btn-outline-primary'>
        Reset</button>
    </span>
    

    <span v-if="state == 'completed'">
      <a
        :href="downloadUrl"
        class='btn btn-sm btn-success'>
        <i class="fas fa-check"></i>
        Download</a>

      <button
        @click="render"
        class='btn btn-sm btn-outline-primary'>
        Render again</button>
    </span>


    <button v-if="state == 'aborted'"
      @click="render"
      class='btn btn-sm btn-danger'>
      <i class="fas fa-exclamation-triangle"></i>
      Retry</button>

    <br />
    
    <span v-if="showMessage">
      <strong>Message:</strong> {{ message }}
    </span>

  </span>

</template>

<script>
import { timer } from 'vue-timers'
import axios from 'axios'

export default {
  props: {
    documentId: {
      type: String,
    },
    initState: {
      type: String,
    },
    initUrl: {
      type: String,
    },
    showMessage: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      state: this.initState,
      downloadUrl: this.initUrl,
      message: '',
      dots: '.',
    };
  },
  timers: {
    checkStatus: { time: 1000, autostart: false, repeat: true, immediate: false }
  },

  computed: {
  },
  methods: {

    render: function() {
      axios 
        .post(`/documents/${this.documentId}/retry`)
        .then(response => {
          console.log(response.data)
          // TODO: DRY
          if (response.data && response.data.state == 'completed') {
          } else if (response.data && response.data.state == 'running') {
            this.message = ''
            this.state = 'running'
            this.$timer.start('checkStatus')
            // do nothing...
          } else if (response.data && response.data.state == 'aborted') {
            this.message = response.data.error;
            this.state = 'aborted';
          } else {
            this.message = 'nothing happened';
            this.state = 'aborted';
          }
        }).catch((error) => {
          this.message = error;
          this.state = 'aborted';
        })
      
    },

    checkStatus: function() {
      this.performCheck();
      if (this.state != 'running') { this.$timer.stop('checkStatus') }
      this.dots = `${this.dots}.`
      if (this.dots.length > 3) {
        this.dots = '.'
      }
    },

    performCheck: function() {
      axios 
        .get(`/documents/${this.documentId}`)
        .then(response => {
          console.log(response.data)
          if (response.data && response.data.state == 'completed') {
            this.message = 'Download is ready';
            this.downloadUrl = response.data.url;
            this.state = 'completed';
          } else if (response.data && response.data.state == 'running') {
            // do nothing...
          } else if (response.data && response.data.state == 'aborted') {
            this.message = response.data.error;
            this.state = 'aborted';
          } else {
            this.message = 'nothing happened';
            this.state = 'aborted';
          }
        }).catch((error) => {
          this.message = error;
          this.state = 'aborted';
        })
      
    },

  },
  mounted() {
    if (this.state == 'running') {
      this.$timer.start('checkStatus')
    }

  },
};
</script>

<style lang='scss' scoped>
  .download-button {
  }

  .btn-success {
    color: green;
    border-color: green;
  }
</style>

