<template>
  <div class="">
    <input type="hidden" :name="textFieldName" :value="jsonValueString" />

    <div class="editor_holder" ref='editor'></div>
  </div>
</template>

<script>
import { JSONEditor } from '@json-editor/json-editor'

export default {
  props: {
    schema: {
      type: Object,
      default: function () { return {} }
    },
    value: {
      type: Object,
      default: function () { return {} }
    },
    textFieldName: {
      type: String,
      default: 'check_this_please'
    }
  },
  components: {
  },
  data() {
    return {
      jsonValue: this.value
    };
  },
  computed: {
    jsonValueString() {
      return(JSON.stringify(this.jsonValue))
    }
  },
  mounted() {
    let options = {
      theme: 'bootstrap4', 
      schema: this.schema,
      disable_collapse: 'true',
      disable_edit_json: 'true',
      disable_properties: 'true',
    }
    const element = this.$refs.editor;
    const editor = new JSONEditor(element, options);
    editor.setValue(this.value);

    editor.on('change',() => {
      this.jsonValue = editor.getValue();
    });
  },
  methods: {
  }
};
</script>

<style lang='scss' scoped>
  .editor_holder {
    padding-top: 5px;
  }
</style>