<div class="timeline">
  <!-- timeline time label -->

  <% grouped_events = events.group_by{|event| event.created_at.to_date} %>

  <% grouped_events.each do |time, day_events| %>
    <div class="time-label">
      <span class="bg-red"><%= l time, format: :short %></span>
    </div>

    <% day_events.each do |event| %>
      <div>

        <span class="time"><i class="fas fa-clock"></i> 
          <%= time_ago_in_words(event.created_at) %> ago.
        </span>

        <br />
        <% document = event %>
        Document
        <%= link_to document.id, [:manage, document] %>
        with template
        <%= link_to document.render_template, [:manage, document.render_template] %>
        was generated.
        
        <small>
        <%= link_to [:manage, document] do %>
          <%= l event.created_at, format: :long %>
        <% end %>
        </small>

      </div>

    <hr />
    <% end %>
  <% end %>
  
</div>