

<h1>Dashboard</h1>

<div class="row">
  <div class="col-lg-6">

    <div class="card card-primary card-outline">
      <div class="card-body">
        <h5 class="card-title">Last Document Renders</h5>


        <%= render 'timeline', events: Document.order(created_at: :desc).last(50) %>

        <p class="card-text">
        </p>
      </div>
    </div>
      
  </div>
  <div class="col-lg-6">

    <div class="card card-primary card-outline">
      <div class="card-body">
        <h5 class="card-title">System Stats</h5>

        <p class="card-text">
          <%= RenderTemplate.count %> templates <br />
          <%= Document.count %> Documents
        </p>
        <%= link_to 'List Templates', manage_render_templates_path, class: 'card-link' %>
        <%= link_to 'List Documents', manage_documents_path, class: 'card-link' %>
        <%# <a href="#" class="card-link">List recipients</a> %>
      </div>
    </div>

    <div class="card card-primary card-outline mt-3">
      <div class="card-body">
        <h5 class="card-title">API Access</h5>

        <p class="card-text">
          Your token

          <input type="text" value="<%= current_user.api_token %>" class="form-control text-muted" disabled>
        </p>
        <%= link_to 'Token Settings', manage_render_templates_path, class: 'card-link' %>
      </div>
    </div>

  </div>
</div>

