<!DOCTYPE html>
<html>

<head>
  <title>Pretty.ink</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%#= stylesheet_pack_tag 'application-styles', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application-scripts', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application-scripts', 'data-turbolinks-track': 'reload' %>


<style>
.btn {
background-attachment:scroll;
background-clip:border-box;
background-color:rgb(255, 255, 255);
background-image:none;
background-origin:padding-box;
background-position-x:0%;
background-position-y:0%;
background-size:auto;
border-bottom-color:rgb(212, 212, 212);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(212, 212, 212);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(212, 212, 212);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(212, 212, 212);
border-top-left-radius:3px;
border-top-right-radius:3px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(51, 51, 51);
cursor:pointer;
display:inline-block;
font-family:"PT Sans", arial, sans-serif;
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
line-height:32px;
margin-bottom:0px;
margin-left:0px;
margin-right:8px;
margin-top:0px;
padding-bottom:0px;
padding-left:19px;
padding-right:19px;
padding-top:0px;
text-decoration-color:rgb(51, 51, 51);
text-decoration-line:none;
text-decoration-style:solid;
vertical-align:baseline;

}
</style>
</head>

<body class="" style="margin: 0; padding: 0">
  <div data-behavior="vue">
    
<% if params[:debug] %>
  @token: <%= @token %>" <br />
  @template: <%= @template %> <br />
  @version: <%= @version %> <br />
  @data: <%= @data.to_json %>

  <br />
<% end %>

    <%# @document = Document.last %>

    <raw-create-button 
    :initial-document-id="'<%= @document&.id %>'" 
    :initial-document-state="'<%= @document&.aasm_state %>'" 

    :initial-token="'<%= @token %>'"
    :initial-template="'<%= @template %>'"
    :initial-version="'<%= @version %>'"
    :initial-data="<%= @data.to_json %>"
    ></raw-create-button> 



  </div>
</body>

</html>