


<% content_for :title do %>
  Welcome
<% end %>

<%= render 'pages/center_panel' do %>

  <p>
    This is the document rendering service of Pairing.sh.
  </p>

  <p>
    In the future you will see a marketing page here, with pricing, contract, trial etc.
  </p>

  <p>
    If you have a login:  <%= link_to 'click here', manage_root_path, class: 'btn btn-primary btn-sm'%>
  </p>


  <p>
    If you want to know what this is about, ask Till from
    <a href="https://pairing.sh">Pairing.sh</a>
  </p>

<% end %>

