<p id="notice"><%= notice %></p>

<h1 class='mb-4'>API Playground</h1>


<playground-create-document 
  :sample-templates="<%= @sample_templates.to_json %>"
  initial-token="<%= current_user&.api_token %>">
</playground-create-document>


<hr class='mt-5 mb-5' />


<playground-get-status
  initial-token="<%= current_user&.api_token %>">
</playground-get-status>


<%
=begin%>
 
<h2>Preview 
  <i class="fas fa-external-link-alt"></i>
</h2>

<div class="card">
  <div class="card-body">
    ...

  </div>
</div> 
<%
=end%>
