<%= bootstrap_form_with(model: [:manage, document], local: true) do |form| %>
  <%= form.alert_message "Please fix the errors below." %>

  <% templates = ['-----', nil] + RenderTemplate.all.map{|t| [t.to_s, t.id]} %>
  <%= form.select :render_template_id, templates, { label: "Select Template:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "" } %>


  <div data-foo="bar" class="form-group has-warning">
    <label for="document_render_template_id">Input Data:</label>
    <code-editor text-field-name="document[input_data]" value="<%= form.object.input_data_json %>"></code-editor>
  </div>


  <%= form.text_field :version %>

  <%= form.submit %>
<% end %>

