<h1>Editing Document</h1>

<%= render 'form', document: @document %>

<%= link_to 'Show', [:manage, @document] %> |
<%= link_to 'Template', [:manage, @document.render_template] %> |
<%= link_to 'Back', manage_documents_path %>
