<p id="notice"><%= notice %></p>

<h1>Documents</h1>


<%= paginate @documents, theme: 'twitter-bootstrap-4' %>

<table class="table">
  <thead>
    <tr>
      <th>State</th>
      <th>Template</th>
      <th>Input data</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.aasm_state %></td>
        <td>
          <%= link_to [:manage, document.render_template] do %>
            <%= render 'manage/render_templates/kind_icons', kind: document.render_template.kind %>
            <%= document.render_template %>
          <% end %>
          <br />
          <%= document.version %> -> <%= document.render_template.version %></td>
        <td>
          <small><%= document.input_data.to_json.truncate(50) %></small>
          <br />
          <small>
            <%= document.job_id %>
          </small>
        </td>
        <td>
          <%= l(document.created_at, format: :short) %> <br />
          <small><%= time_ago_in_words document.created_at %> ago</small>
        </td>
        <td><%= link_to 'Show', [:manage, document] %></td>
        <td><%= link_to 'Edit', edit_manage_document_path(document) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @documents, theme: 'twitter-bootstrap-4' %>

<%= link_to new_manage_document_path, class: 'btn btn-primary mb-3' do %>
  <i class="fas fa-file"></i> New Document
<% end %>

