<p id="notice"><%= notice %></p>

<h1>Document <%= @document.render_template %> <mark><%= @document.render_template.version %></mark></h1>

<div class="card">
  <div class="card-body">
    <download-button 
      :show-message="true" 
      :document-id="'<%= @document.id %>'" 
      :init-state="'<%= @document.aasm_state %>'"
      :init-url="'<%= url_or_nil(@document)  %>'"
      ></download-button>
  </div>
</div>


<%
=begin%>
 <p>
  <strong>Template:</strong>
  <%= @document.render_template %>
  <%= link_to "Download", url_for(@document.result_file) if @document.result_file.attached? %>
</p> 
<%
=end%>

<p class='mt-3'>
  <strong>Input data:</strong>
  <%= @document.input_data %> <br />
  <small>Id: <i><%= @document.id%></i>
  <br />
  <%= link_to "Download", url_for(@document.result_file) if @document.result_file.attached? %>
  </small>
</p>

<% if @document.error_message.present? %>
  <p><strong>Error:</strong><%= @document.error_message %></p>
<% end %>

<% if @document.job_id %>
  <p><strong>Job id:</strong><%= @document.job_id %>
  <strong>State: </strong><%= @document.aasm_state %>
  </p>
<% end %>

<% if @document.result_file.attached? %>
<p>
  <strong>State: </strong><%= @document.aasm_state %>
  <%= link_to "Download", url_for(@document.result_file) %>
</p>
<% end %>

<p>
  <strong>Version:</strong>
  Requested <mark><%= @document.version %></mark> matched <mark><%= @document.render_template.version %></mark>
</p>


<h2>Preview 
  <%= link_to [:preview, :manage, @document], class: 'text-secondary' do %>
  <i class="fas fa-external-link-alt"></i>
  <% end %>
</h2>

<div class="embed-responsive embed-responsive-16by9 document-preview-frame">
  <iframe src="<%= url_for [:preview, :manage, @document]%>">
  </iframe>
</div>



<%= link_to 'Edit', edit_manage_document_path(@document) %> |
<%= link_to 'Template', [:manage, @document.render_template] %> |
<%= link_to 'Back', manage_documents_path %>
