
<% inherited = edit_template != fragment.render_template %>

<% if inherited %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fas fa-exclamation-triangle"></i>
    This is an inherited fragment. Please go here to edit:

  <%= link_to fragment.render_template, [:editor, :manage, fragment.render_template] %>
  or

  <%= link_to "#", class: "card-link",
    data: { controller: "editor", render_template_id: edit_template.id, fragment_id: fragment.id, action: "click->editor#overwriteFragment" } do %>
    overwrite this fragment
  <% end if inherited%>

  </div>
 
<% end %>


<%= bootstrap_form_with(model: [:manage, fragment], local: true, id: 'editor-relevant-form') do |form| %>
  <input type="hidden" value="<%= fragment.id %>" name="fragment_id" class='editor-relevant'>
  <%= form.alert_message "Please fix the errors below." %>

  <div data-foo="bar" class="form-group has-warning">
    <label for="document_render_template_id">Code:</label>
    <code-editor 
      text-field-name="code" 
      input-class="editor-relevant" 
      value="<%= form.object.code %>"
      :editable="<%= !inherited %>"
    ></code-editor>
  </div>

  Extracted Variables: 
  <% fragment.extract_variables.each do |variable| %>
    <span class="badge badge-info">{{<%= variable %>}}</span>
  <% end %>
  <br />

  <%= link_to "#", class: "card-link",
    data: { controller: "editor", action: "click->editor#saveFragment" } do %>
    <button class='btn btn-primary btn-md mt-2'>Save</button> 
  <% end if !inherited%>


<% end %>
