
<%= form_with model: [:manage, render_template], id: 'editor-relevant-form' do |form| %>
  <input type="hidden" value="<%= render_template.id %>" name="template_id" class='editor-relevant'>

  <div class='stimules_example' 
    style="padding: 0 40px;">


    <% render_template.extract_variables.each do |var| %>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm"><%= var %></span>
        </div>
        <input type="text" value="Test" name="<%= var %>" class="form-control editor-relevant">
      </div>
    <% end %>

    <%= link_to "#", class: "card-link",
      data: { controller: "editor", action: "click->editor#save" } do %>
      <button class='btn btn-primary btn-sm'>Preview Data</button> 
    <% end %>

  </div>
<% end %>
