// This file is automatically compiled by Webpack, along with any other files
// present in this directory. You're encouraged to place your actual application logic in
// a relevant structure within app/javascript and only use these pack files to reference
// that code so it'll be compiled.

// require("@rails/ujs").start()
// require("turbolinks").start()
// require("@rails/activestorage").start()
// require("channels")

// Uncomment to copy all static images under ../images to the output folder and reference
// them with the image_pack_tag helper in views (e.g <%= image_pack_tag 'rails.png' %>)
// or the `imagePath` JavaScript helper below.
//
// const images = require.context('../images', true)
// const imagePath = (name) => images(name, true)

// Your variable overrides

// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");
@import 'bootstrap';
// @import 'admin-lte/dist/css/adminlte';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import "../stylesheets/actiontext.scss";

@import "codemirror";


.main-header {
  border-bottom: none;
}

body.application {
  $bar-height: 10px;
  margin-top: $bar-height;

  border: none;
  &.wait {
    border-top: $bar-height solid rgb(146, 154, 255);
    margin-top: 0;
  }
  &.error {
    border-top: $bar-height solid rgb(255, 131, 131);
    margin-top: 0;
  }
}

.document-preview-frame {
  border: 1px solid #ccc;
}

.own-content-wrapper{
  min-height: 800px;
}

.footer-wrapper {
  margin-top: 50px;
  background-color: rgb(247, 244, 241);
  border-top: 1px solid rgb(189, 177, 166);
}

// ----- EDITOR
body.editor {
  margin-top: 0;
  $bar-height: 10px;

  .details {
    .base-editor, .multi-editor, .inheritance-navigator {
      padding: 10px;

    }
    .base-editor {
      padding-top: 0;
      h1 {
        margin-top: 0;
      }
    }

    padding-top: $bar-height;
    border: none;
  }
  &.wait {
    .details {
      padding-top: 0;
      border-top: $bar-height solid rgb(146, 154, 255);
    }
  }

  &.error {
    .details {
      border-top: $bar-height solid rgb(255, 131, 131);
      padding-top: 0;
    }
  }


  .details {
    border-left: 1px solid rgb(167, 167, 167);
    background-color: rgb(201, 201, 201);
    // position: fixed;
    
    .inheritance-navigator {
      border-top: 1px solid rgb(121, 121, 121);
      background-color: rgb(179, 179, 179);
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .flex_container {
    display: flex;
    width: 100%;
  }
  .flex_item_left {
    width: 50%;
  }
  .flex_item_right {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }



  .preview {
    @mixin partial-intersector($own: false) {
      $grab-color: rgb(63, 151, 233);
      @if $own {
        $grab-color: blue;
      }

      border-top: 4px solid $grab-color;
      clear: both;
      .action {
        font-weight: normal;
        font-style: normal;
        float: right;
        margin: 0;
        padding: 4px 8px;
        background-color: $grab-color;
        color: white;
      }

    }

    .partial-start {
      &.from-parent {
        @include partial-intersector($own: false)
      }
      &.own {
        @include partial-intersector($own: true)
      }
    }

  }
}
