<% content_for :title do %>
  Log in
<% end %>

<%= render 'pages/center_panel' do %>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
    <%= f.submit "Log in" %>
  <% end %>
  <%= render "devise/shared/links" %>

<% end %>




