<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://andybrewer.github.io/mvp/img/brand.png">
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="MVP.css - No classes, no framework. Just semantic HTML and you're done.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MVP.css - Minimalist stylesheet for HTML elements</title>
</head>

<body>
    <header>
        <nav>
            <a href="https://andybrewer.github.io/mvp/"><img alt="MVP.css" src="./img/logo.png" height="70"></a>
            <ul>
                <li>Home</li>
                <li><a href="#docs">Docs</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="https://www.github.com/andybrewer/mvp/" target="_blank">GitHub &nearr;</a></li>
            </ul>
        </nav>
        <h1>Hello, <u>{{first_name}} {{last_name}}</u> - how are you?</h1>
        <p><b>No class names, no frameworks,</b> just <em>semantic</em> HTML and <mark>you're done</mark>.</p>
        <br>
        <p><a download="mvp.html" href="./mvp.html" target="_blank"><i>Download HTML &nearr;</i></a><a
                download="mvp.css" href="./mvp.css" target="_blank"><b>Download MVP.css (8kb) &nearr;</b></a></p>
        <br><br>
        <p><sup>PRO TIP</sup> Add this code to a new HTML
            file:<br><br><code>&lt;link rel="stylesheet" href="https://unpkg.com/mvp.css"&gt;</code></p>
    </header>
    <main>
        <hr>
        <section>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            Made by <a href="https://www.andybrewer.com" target="_blank">Andy Brewer
                &nearr;</a><br>
        </p>
    </footer>

</body>

</html>