<template>

  <div class='playground-step-create row'>
    <div class='col'>

      <div class='row'>
        <div class='col-8'>
          <h4>Step 1: Create Document</h4>
        </div>
        <div class='col text-right'>

          <div class="dropdown show" v-if="sampleTemplates.length > 0">
            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Sample
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a
                v-for="(template, index) in sampleTemplates"
                :key="index"
                class="dropdown-item"  @click="chooseTemplate(index)">{{ template.name }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="document_version">Token</label>
        <input type="text" v-model="token" class="form-control text-muted form-control-sm">
      </div>

      <div class="form-group">
        <label for="document_version">Template Identifier</label>
        <input type="text" v-model="templateIdentifier" class="form-control">
      </div>


      <div class="form-group">
        <label for="document_version">Version</label>
        <input type="text" v-model="templateVersion"  class="form-control">
      </div>

      <div class="form-group">
        <label for="document_version">Input data</label>
        <CodeEditor @change="onInputDataChange" :value="inputData"></CodeEditor>
      </div>
      
      <div class="text-right">
        <button @click="sendRequest" class='btn btn-primary'>Send</button>
      </div>
    </div>

    <div class='col preview'>
      <h4>REST</h4>

      <strong>url:</strong> <mark>{{ requestUrl }}</mark> <br />
      <strong>token:</strong> <mark>{{ token }}</mark> <br />
      <strong>template:</strong> <mark>{{ templateIdentifier }}</mark> <br />
      <strong>version:</strong> <mark>{{ templateVersion }}</mark> <br />
      <strong>data:</strong> <mark>{{ inputData }}</mark> <br />
      
      
      <h4 class='mt-5'>Response</h4>
      {{ apiResponse }}

      <div v-if="resultDocumentId" class='mt-3'>
        <b>New Document Id:</b> <input :value="resultDocumentId" class="form-control form-control-sm" disabled/>
      </div>
    </div>

  </div>

</template>

<script>
import CodeEditor from '../CodeEditor.vue'
import axios from 'axios'

export default {
  props: {
    sampleTemplates: {
      type: Array,
      default: function () { return [] }
    },
    initialToken: {
      type: String,
    },
  },
  components: {
    CodeEditor
  },
  data() {
    return {
      token: this.initialToken,
      editor: null,
      templateIdentifier: null,
      templateVersion: null,
      inputData: null,
      requestUrl: 'POST /documents/',
      editorValue: this.value,
      resultDocumentId: null,
      apiResponse: null
    };
  },
  computed: {
    editorValueString() {
      // return("this.editor.value")
      return(this.editorValue)
    }
  },
  methods: {
    onInputDataChange: function(value) {
      this.inputData = value
    },
    getPostParams: function() {
      return ({
        token: this.token,
        template: this.templateIdentifier,
        version: this.templateVersion,
        data: this.inputData,
      });
    },
    sendRequest: function() {
      this.apiResponse = 'waiting...'
      this.resultDocumentId = null
      axios 
        .post(`/documents/`, this.getPostParams())
        .then(response => {
          this.apiResponse = response.data
          this.resultDocumentId = response.data.id
        }).catch((error) => {
          this.apiResponse = `Error: ${error}`;
        })
    },
    chooseTemplate: function(index) {
      this.templateIdentifier = this.sampleTemplates[index].name
      this.templateVersion = this.sampleTemplates[index].version
      this.inputData = this.sampleTemplates[index].schema
      return false;
    },
  },
  mounted() {
   
   
  },
};
</script>

<style lang='scss' scoped>
  .code-editor {
    border: 1px solid #ccc;
  }
.dropdown-item {
  cursor: pointer;
}
</style>

