<template>

  <div class='playground-step-create row'>
    <div class='col'>
      <h4>Step 2: Get Status</h4>

      <div class="form-group">
        <label for="document_version">Token</label>
        <input type="text" v-model="token" class="form-control text-muted form-control-sm">
      </div>

      <div class="form-group">
        <label for="document_version">Document Id</label>
        <input type="text" v-model="documentId" class="form-control">
      </div>


      
      <div class="text-right">
        <button @click="sendRequest" class='btn btn-primary'>Send</button>
      </div>
    </div>

    <div class='col preview'>
      <h4>REST</h4>

      <strong>url:</strong> <mark>{{ requestUrl }}</mark> <br />
      <strong>token:</strong> <mark>{{ token }}</mark> <br />
      
      <h4 class='mt-5'>Response</h4>
      {{ apiResponse }}

      <div v-if="downloadUrl" class='mt-3'>
        <a :href="downloadUrl">Download {{documentId}}.pdf</a>
      </div>
    </div>

  </div>

</template>

<script>
import axios from 'axios'

export default {
  props: {
    initialToken: {
      type: String,
    },
  },
  components: {
  },
  data() {
    return {
      documentId: '',
      token: this.initialToken,
      apiResponse: null,
      downloadUrl: null
    };
  },
  computed: {
    requestUrl() {
      return(`/documents/${this.documentId}`)
    }
  },
  methods: {
    getPostParams: function() {
      return ({
        token: this.token
      });
    },
    sendRequest: function() {
      this.apiResponse = 'waiting...'
      axios 
        .get(this.requestUrl, this.getPostParams())
        .then(response => {
          this.apiResponse = response.data
          this.downloadUrl = response.data.url
        }).catch((error) => {
          this.apiResponse = `Error: ${error}`;
        })
    },
  },
  mounted() {
   
   
  },
};
</script>

<style lang='scss' scoped>
  .code-editor {
    border: 1px solid #ccc;
  }
</style>

