<template>

  <div class='raw-button'>

    <div v-if="resultDocumentId">
      <DownloadButton
        :document-id="resultDocumentId"
        :init-state="resultDocumentState"
        ></DownloadButton>
    </div>
    
    <div v-else>
      <button @click="sendRequest" class='btn'>Versicherungsschein erzeugen</button>
    </div>
  </div>

</template>

<script>
import DownloadButton from '../DownloadButton.vue'
import axios from 'axios'

export default {
  props: {
    initialToken: {
      type: String,
    },
    initialTemplate: {
      type: String,
    },
    initialVersion: {
      type: String,
    },
    initialData: {
      type: Object,
    },
    initialDocumentId: {
      type: String,
    },
    initialDocumentState: {
      type: String,
    },
  },
  components: {
    DownloadButton
  },
  data() {
    return {
      token: this.initialToken,
      editor: null,
      templateIdentifier: this.initialTemplate,
      templateVersion: this.initialVersion,
      inputData: this.initialData,
      requestUrl: 'POST /documents/',
      resultDocumentId: this.initialDocumentId,
      resultDocumentState: this.initialDocumentState,
      apiResponse: null
    };
  },
  computed: {
    editorValueString() {
      // return("this.editor.value")
      return(this.editorValue)
    }
  },
  methods: {
    onInputDataChange: function(value) {
      this.inputData = value
    },
    getPostParams: function() {
      return ({
        token: this.token,
        template: this.templateIdentifier,
        version: this.templateVersion,
        data: this.inputData,
      });
    },
    sendRequest: function() {
      this.apiResponse = 'waiting...'
      this.resultDocumentId = null
      axios 
        .post(`/documents/`, this.getPostParams())
        .then(response => {
          this.apiResponse = response.data
          this.resultDocumentId = response.data.id
          this.resultDocumentState = response.data.state
        }).catch((error) => {
          this.apiResponse = `Error: ${error}`;
        })
    },
  },
  mounted() {
   
   
  },
};
</script>

<style lang='scss'>
  .code-editor {
    border: 1px solid #ccc;
  }
.dropdown-item {
  cursor: pointer;
}

</style>

