<% render_template ||= nil %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Identifier</th>
      <th>Kind</th>
      <th>Code</th>
      <th>Render template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% fragments.each do |fragment| %>
      <tr>
        <td>
          <% if render_template && fragment.render_template != render_template %>
            Inherited from
            <%= link_to editor_manage_render_template_path(render_template) do %>
              <%= render_template %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if render_template && fragment.identifier == 'layout' %>
            <i class="fas fa-star"></i>
          <% end %>
          <%= fragment.identifier %>
        </td>
        <td><%= fragment.kind %></td>
        <td><%= fragment.code_preview.truncate(50) %></td>
        <td><%= fragment.render_template.name %></td>
        <td><%= link_to 'Show', [:manage, fragment] %></td>
        <td><%= link_to 'Edit', edit_manage_fragment_path(fragment) %></td>
        <td><%= link_to 'Destroy', [:manage, fragment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% new_form_params = {render_template_id: render_template.id} if render_template %>
<%= link_to new_manage_fragment_path(new_form_params), class: 'btn btn-primary btn-sm' do %>
  <i class="fas fa-project-diagram"></i> New Fragment
<% end %>

