<p id="notice"><%= notice %></p>


<h1>Fragment 
  <mark><%= @fragment.identifier %></mark>
</h1>

<p>
  <strong>Kind:</strong>
  <%= @fragment.kind %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @fragment.identifier %>
</p>

<p>
  <strong>Code:</strong>
  <%= @fragment.code_preview %>
</p>

<p>
  <strong>Render template:</strong>
  <%= link_to @fragment.render_template, [:manage, @fragment.render_template] %>
</p>

<%= link_to 'Edit', edit_manage_fragment_path(@fragment) %> |
<%= link_to 'Back', manage_fragments_path %>
