<%
  @render_template ||= nil
  @fragment ||= nil

  if @fragment && @fragment.render_template
    @render_template = @fragment.render_template 
  end

  if @render_template
    @secondary = ["Templates", 
      manage_render_templates_path
    ]

    @tertiary = [@render_template.name, 
      [:manage, @render_template]
    ]

  end

  @secondary ||= [controller_name, manage_root_path]
%>

<div class="content-breadcrumbs">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <% unless ['welcome'].include?(controller_name) %>
            <li class="breadcrumb-item">
              <%= link_to 'Manage', manage_root_path %>
            </li>
          <% end %>

          <li class="breadcrumb-item">
            <%= link_to @secondary.first, @secondary.second %>
          </li>

          <% if @tertiary %>
          <li class="breadcrumb-item">
            <%= link_to @tertiary.first, @tertiary.second %>
          </li>
          <% end %>

          <li class="breadcrumb-item active"><%= action_name %></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  </div>