<%
=begin%>
<footer class="main-footer">
  <div class="container">
    © 2020 Maerketing Europe OÜ | Sakala 7-2, 10141 Tallinn, Estonia | info@pairing.sh
  </div>
</footer>
<%
=end%>

<div class='footer-wrapper'>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <%= image_pack_tag "logo.svg", class: 'img-fluid mr-2', style: 'height: 20px' %>
      Pretty.ink
            
      <small class="d-block text-muted mt-3">
      © 2020 Maerketing Europe OÜ | Sakala 7-2, 10141 Tallinn, Estonia | info@pairing.sh
      </small>
      <br />
      <small class="d-block mb-3 text-muted ">
        <%= deployment_info %>
      </small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
  </div>