<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
  <%= image_pack_tag "logo.svg", class: 'img-fluid mr-2', style: 'height: 20px' %>
  
  <% if current_user&.admin? %>
    <%= link_to 'Pretty.ink', manage_root_path, class: 'navbar-brand' %>
  <% else %>
    <%= link_to 'Pretty.ink', root_path, class: 'navbar-brand' %>
  <% end %>


  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <% if current_user&.admin? %>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to manage_render_templates_path, class: "nav-link" do %>
          <i class="fas fa-clone"></i> Templates
        <% end %>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to manage_documents_path, class: "nav-link" do %>
          <i class="fas fa-file"></i> Documents
        <% end %>
      </li>
    <% end %>

    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to 'API Playground', playground_path, class: "nav-link" %>
    </li>

  </ul>
  
  <!-- SEARCH FORM -->
  <%# <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form> %>
  
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">


    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to root_path, class: "nav-link" do %>
        <i class="fas fa-wrench"></i>
      <% end %>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to sidekiq_path, class: "nav-link" do %>
        <i class="fas fa-thermometer-quarter"></i>
      <% end %>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to root_path, class: "nav-link" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </li>


    <%# 
    profile settings?
    
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>
    </li> %>


  </ul>
</nav>
