<!DOCTYPE html>
<html>

<head>
  <title>Pretty.ink</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'application-styles', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application-scripts', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application-scripts', 'data-turbolinks-track': 'reload' %>


</head>

<body class="application hold-transition sidebar-collapse layout-top-nav">
  <div data-behavior="vue">
    <div class="wrapper">
      <div class="container">
        <%= render partial: "layouts/header" %>
      </div>
      <div class="own-content-wrapper">
        <div class="container">

          <%= render partial: "layouts/alerts" %>
          <%= render partial: "layouts/breadcrumbs" %>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>